body {
  background: linear-gradient(
    102.18deg,
    #000121 0%,
    #040865 71.82%,
    #00022b 100%
  );
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.inline {
  height: 100%;
  display: inline;
}

@media screen and (min-width: 1400px) {
  .code-blue-logo {
    margin-top: 100px;
  }

  .near-code-blue {
    margin-top: 9px;
    margin-left: 15px;
  }

  .box-1 {
    width: 300px;
    height: 300px;
    margin-left: 50% !important;
  }

  .box-2 {
    width: 300px;
    height: 600px;
    padding-top: 300px;
    border-right: 2px solid royalblue;
    margin-top: -300px;
    margin-left: 48% !important;
  }
  .heading {
    position: absolute;
    width: 492px;
    height: 194px;
    left: 100px;
    top: 200px;
    font-family: "Prompt";
    font-style: normal;
    font-weight: 600;
    font-size: 73px;
    line-height: 97px;
    color: #ffffff;
  }
  .line {
    margin-top: -1.3em;
  }

  .description {
    position: absolute;
    width: 612px;
    height: 52px;
    left: 100px;
    top: 450px;

    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 52px;

    color: #ffffff;
  }
  .mobile-flyer {
    margin-top: -30px !important;
  }
}

/* Mobile Devices */
@media (max-width: 1400px) {
  .code-blue-logo {
    margin-top: 29px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .near-code-blue {
    margin-left: -28px;
    margin-top: 35px;
    position: absolute;
  }

  .box-1 {
    width: 300px;
    height: 300px;
    margin-left: 50% !important;
    margin-top: 20px !important;
  }
  .box-2 {
    display: none;
  }
  .heading {
    position: absolute;
    width: 492px;
    height: 194px;
    left: 100px;
    top: 130px;
    font-family: "Prompt";
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 97px;
    color: #ffffff;
  }
  .line {
    margin-top: -1.3em;
    margin-right: 50%;
  }
  .description {
    position: absolute;
    width: 335px;
    height: 104px;
    left: 87px;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 52px;
    text-align: center;
    color: #ffffff;
  }
  .mobile-flyer {
    position: fixed;
    bottom: 0;
  }
  .cloud {
    margin-left: 50% !important;
  }
}

.transparent-bordered-input {
  background-color: transparent !important;
  border: 2px solid #ffffff;
  border-radius: 3px;
  width: 240px;
  height: 55px;
}

.label-text {
  margin-top: 17px;
  margin-right: 5px;
  margin-left: 5px;
}

.transparent-bordered-input-2 {
  background-color: transparent !important;
  border: 2px solid #ffffff;
  border-radius: 3px;
  width: 490px;
  height: 55px;
}

.checkbox {
  width: 480px;
  height: 30px;
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #a3aeb9;
}
.form-check-input:checked {
  background-color: green !important;
  border-color: green;
}
